.site-navbar {
  display:block;
  padding: 10px 0 10px 0;
}
.page-links {
  margin-left: 15px;
}
.logout-button, .login-button, .signup-button {
  width: 15%;
}

.search-bar {
  margin: auto;
}
.search-field:hover {
  width: 300px;
}
.product-card {
  margin: 10px 0 10px 0;
}
